.index-page {
    font-family: 'Roboto', sans-serif;
    color: #2c2c2c; /* Простой цвет текста */
    background-color: #fff; /* Белый фон для всей страницы */
}

.hero-section {
    color: #fff;
    padding: 100px 0;
    text-align: center;
    margin-bottom: 64px;
}

.hero-text {
    color: #2c2c2c;
}

.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.services-section {
    background-color: #f8f9fa; /* Светлый фон для контрастности */
    padding: 50px 0;
}

.about-section {
    background-color: #f8f9fa;
}

.about-text {
    margin: auto;
}